/* ===================================
========= register page  */
.form-container {
 
  display: flex;
  align-items: center;
  margin-top: 60px;
  min-height: 70vh;
  flex-direction: column;

}




.form-container form input {
  border: none;
  border: 1px solid #bebdbd;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.loginbutton{
  width: 500px;
background-color: red !important;
padding-top: 10px;
padding-bottom: 10px;
color: white !important;
font-weight: bold !important;
}


.forgot{
  position: relative;
  left: 350px;
  top: -60px;
  cursor: pointer;
}
.forgot-btn { 
  border: 0 !important;
  font-weight: bold;
}

.registerinput{
  width: 500px !important;
}